.circle {
    top: 9px;
    left: -4px;
    z-index: 10;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    box-sizing: content-box;
    border: #e74c3c solid 4px;
}

.cross {
    position: relative;
    opacity: 0;
    animation: crossFadeIn 1s forwards;
    animation-delay: 1s;
    width: 80px;
    height: 115px;
    margin: 0 auto;
}

.line {
    position: absolute;
    width: 65px;
    height: 10px;
    background-color: #e74c3c;
    bottom: 50%;
    left: 7px;
}

.line1 {
    transform: rotate(45deg);
}

.line2 {
    transform: rotate(-45deg);
}

@keyframes circleAnimation {
    from {
        width: 0;
        height: 0;
        opacity: 0;
    }
    to {
        width: 150px;
        height: 150px;
        opacity: 1;
    }
}

@keyframes crossFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}