body {
    min-height: 100vh;
    background-size: cover;
    background: url("../public/bg.png") top;
    margin: 0;
    font-family: "Golos", sans-serif;
}

h1 {
    font-family: "ALS Gorizont", sans-serif;
}